<h1>Listing tours</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>State</th>
      <th>Body</th>
      <th>Background</th>
      <th>Location</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tours.each do |tour| %>
      <tr>
        <td><%= tour.name %></td>
        <td><%= tour.state %></td>
        <td><%= tour.body %></td>
        <td><img src="<%= tour.background %>" width="150"></td>
        <td><img src="http://api.tiles.mapbox.com/v3/dmzza.hdj50i76/<%= tour.longitude %>,<%= tour.latitude %>,9/150x150.png"></td>
        <td><%= link_to 'Show', tour %></td>
        <td><%= link_to 'Edit', edit_tour_path(tour) %></td>
        <td><%= link_to 'Destroy', tour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tour', new_tour_path %>
